<div class="tile-row">
    <div class="tile">
        {{#if records}}
            <table>
                <tr>
                    <th>Key</th>
                    <th>Original URL</th>
                    <th>Time remaining</th>
                    <th>Visits</th>
                </tr>
                {{#each records}}
                    <tr>
                        <td class="column_a"><a href="/records/{{hash}}">{{hash}}</a></td>
                        <td class="column_b"><a href="{{url}}">{{url}}</a></td>
                        <td class="column_c">{{timeRemaining updated_at}}</td>
                        <td class="column_d">{{visits}}</td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <h2>Records</h2>
            <h4>No records are saved to the database.</h4>
        {{/if}}
    </div>
</div>
